<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" , initial-scale=1.0>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Advanced React application Demo</title>
  <script type="text/javascript">
    window.initialData = <%- JSON.stringify(initialData) -%>
  </script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<div id="root"><%- initialMarkup -%></div>
<script src="/vendor.js" charset="utf-8"></script>
<script src="/app.js" charset="utf-8"></script>
</body>
</html>
